$primary-color-one: #7033FF;
$primary-color-two: #FFBC29;
$primary-color-three: #ffffff;
$primary-color-four :#F8E2DE;

$card-box-shadow: 1px 3px 4px rgb(0 0 0 / 5%);
$card-border-radius: 19px;
$card-background: white;
$card-image-border-radius: 19px 19px 0 0;

$button-hover-color: #ff8951;
$main-text-color: #3D3D3D;
$font-family: sans-serif;
$transition: 0.5s;

$laptop-l-width: 1920px;
$content-width: 1200px;
$tablet-width: 640px;
$mobile-small-width: 400px;
