@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

@mixin laptop-l {
  @media (max-width: $laptop-l-width) { @content; }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) { @content; }
}
