* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  background-image: url("assets/backround-body.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
